$defaultFontColor: white;
$backgroundGradient: rgb(44, 110, 195), rgba(20, 21, 57, 1);
$borderColor: hsl(217, 16%, 45%);
$scoreFontColor: hsl(229, 64%, 46%);
$scorePointsColor: hsl(229, 25%, 31%);
$paperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$scissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$rockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(circle at top, $backgroundGradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.score-board {
  width: 70%;
  padding: 20px;
  height: 150px;
  margin: 20px;
  border-radius: 15px;
  border: 3px solid $borderColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.title {
  margin-right: 20px;

  img {
    width: 100%;
  }
}

.score {
  width: 150px;
  height: 114px;
  background-color: $defaultFontColor;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $scorePointsColor;
    font-size: 56px;
    font-family: "Barlow", sans-serif;
  }

  p {
    color: $scoreFontColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: left;
    text-transform: uppercase;
  }
}

.hands {
  max-width: 476px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 58px 0 0;
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  img {
    width: 100%;
  }

  .hand {
    cursor: pointer;
    width: 40%;
    &:hover {
      transform: translate3d(0, -8px, 0);
      transition: all 0.3s;
    }
  }
}

.scissors {
  margin-left: 20px;
}

.paper {
  margin-right: 20px;
}

.contest {
  width: 90%;
  display: none;
  text-transform: uppercase;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 100px;

  img {
    max-height: 50%;
    max-width: 50%;
  }

  > div {
    flex: 1;

    h1 {
      font-size: 3vw;
    }
  }

  h1 {
    color: $defaultFontColor;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .hand-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .referee {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    h1 {
      font-size: 4vw;
    }

    .newGame {
      background-color: white;
      padding: 12px 24px;
      border-radius: 6px;
      cursor: pointer;
      color: $scorePointsColor;
      font-weight: 800;
      transition: all 0.15s;
      font-size: 3vw;

      &:hover {
        transform: translate3d(0, -2px, 0);
      }
    }
  }
}

.rules-box {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 40px;

  button {
    width: 150px;
    height: 48px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #ffffffb3;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
  }
}

.modal {
  position: absolute;
  width: 25rem;
  height: 27rem;
  background: white;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, 50%);
  z-index: 1001;
  display: none;
  padding: 40px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-size: 40px;
    width: 100%;
  }

  .rules-img {
    width: 90%;
  }

  .close-btn {
    position: fixed;
    top: 54px;
    right: 40px;
    cursor: pointer;
  }
}

.overlay {
  display: block;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  animation: fade-in 0.4s ease-out forwards;
  display: none;
}

.computer-hand {
  img {
    -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 2s;
  }

  h1 {
    -webkit-animation: vibrate-1 0.3s ease-out 5 both;
    animation: vibrate-1 0.3s ease-out 5 both;
  }
}

.user-hand-img {
  -webkit-animation: aura 3s forwards;
  animation: aura 3s forwards;
  border-radius: 50%;
  transition: 2s;
}

@media only screen and (max-width: 375px) {
  .score-board {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 20px;

    .score {
      width: 100px;
      height: 100%;
      padding: 10px;

      p {
        font-size: 10px;
      }

      h1 {
        font-size: 42px;
      }
    }

    .title {
      img {
        width: 60%;
      }
    }
  }

  .referee-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 55%;

    .newGame {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 19px;
    }

    .decision {
      h1 {
        font-size: 40px;
      }
    }
  }

  .contest {
    align-items: flex-start;
    div {
      display: flex;
      flex-direction: column-reverse;
    }

    img {
      max-height: 100px;
      max-width: 100px;
    }
  }

  .rules-box {
    justify-content: center;
  }

  .modal {
    transform: translate(-50%, 0);
    border-radius: 0;
    position: fixed;
    height: 100%;
    justify-content: flex-start;

    h1 {
      width: auto;
    }

    .rules-img {
      margin: 8rem 0 0;
    }

    .close-btn {
      top: 35rem;
      left: 47%;
    }
  }
}

//animations

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes aura {
  0% {
    box-shadow: none;
  }
  25% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.09);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.09),
      0 0 0 45px rgba(255, 255, 255, 0.07);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.09),
      0 0 0 45px rgba(255, 255, 255, 0.07), 0 0 0 75px rgba(255, 255, 255, 0.05);
  }
}

@keyframes aura {
  0% {
    box-shadow: none;
  }
  25% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.09);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.09),
      0 0 0 45px rgba(255, 255, 255, 0.07);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.09),
      0 0 0 45px rgba(255, 255, 255, 0.07), 0 0 0 75px rgba(255, 255, 255, 0.05);
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
