$defaultFontColor: white;
$backgroundGradient: rgb(44, 110, 195), rgba(20, 21, 57, 1);
$borderColor: hsla(217, 16%, 45%, 0.575);
$scoreFontColor: hsl(229, 64%, 46%);
$scorePointsColor: hsl(229, 25%, 31%);
$paperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$scissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$rockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(circle at top, $backgroundGradient);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-board {
  width: 70%;
  padding: 20px;
  height: 150px;
  border-radius: 15px;
  border: 3px solid $borderColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.title {
  margin-right: 20px;

  img {
    width: 100%;
  }
}

.score {
  width: 150px;
  height: 114px;
  background-color: $defaultFontColor;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $scorePointsColor;
    font-size: 56px;
    font-family: "Barlow", sans-serif;
  }

  p {
    color: $scoreFontColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: left;
    text-transform: uppercase;
  }
}

.hands {
  max-width: 476px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  img {
    width: 100%;
  }

  .hand {
    cursor: pointer;
    width: 40%;
    &:hover {
      transform: translate3d(0, -8px, 0);
      transition: all 0.3s;
    }
  }
}

.scissors {
  margin-left: 20px;
}

.paper {
  margin-right: 20px;
}

.contest {
  width: 90%;
  display: none;
  text-transform: uppercase;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 100px;

  img {
    width: 75%;
    // height: 275px;
  }

  > div {
    flex: 1;

    h1 {
      font-size: 3vw;
    }
  }

  h1 {
    color: $defaultFontColor;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .hand-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .referee {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 4vw;
    }

    .newGame {
      background-color: white;
      padding: 12px 24px;
      border-radius: 6px;
      cursor: pointer;
      color: $scorePointsColor;
      font-weight: 800;
      transition: all 0.15s;
      font-size: 3vw;

      &:hover {
        transform: translate3d(0, -2px, 0);
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .score-board {
    width: 80%;
    height: 100px;
    padding: 10px;

    .score {
      width: 100px;
      height: 100%;
      padding: 10px;

      p {
        font-size: 10px;
      }

      h1 {
        font-size: 42px;
      }
    }

    .title {
      img {
        width: 60%;
      }
    }
  }

  .referee {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 60%;

    .newGame {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 19px;
    }

    .decision {
      h1 {
        font-size: 40px;
      }
    }
  }

  .contest {
    align-items: flex-start;
    div {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
