* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top, #2c6ec3, #141539);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-board {
  width: 700px;
  height: 150px;
  border-radius: 15px;
  border: 3px solid #606e85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.title {
  padding-left: 30px;
}

.score {
  width: 150px;
  height: 114px;
  background-color: white;
  border-radius: 8px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score h1 {
  color: #3b4363;
  font-size: 56px;
  font-family: "Barlow", sans-serif;
}

.score p {
  color: #2a46c0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: left;
  text-transform: uppercase;
}

.hands {
  width: 476px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hands .hand {
  cursor: pointer;
}

.hands .hand:hover {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scissors {
  margin-left: 20px;
}

.paper {
  margin-right: 20px;
}

.contest {
  width: 900px;
  display: none;
  text-transform: uppercase;
  margin-top: 50px;
}

.contest img {
  width: 275px;
  height: 275px;
}

.contest > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contest h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.contest .hand-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contest .referee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contest .referee h1 {
  font-size: 45px;
}

.contest .referee .newGame {
  background-color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  color: #3b4363;
  font-weight: 800;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.contest .referee .newGame:hover {
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}
/*# sourceMappingURL=style.css.map */