* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(circle at top, #2c6ec3, #141539);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.score-board {
  width: 70%;
  padding: 20px;
  height: 150px;
  margin: 20px;
  border-radius: 15px;
  border: 3px solid rgba(96, 110, 133, 0.575);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.title {
  margin-right: 20px;
}

.title img {
  width: 100%;
}

.score {
  width: 150px;
  height: 114px;
  background-color: white;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score h1 {
  color: #3b4363;
  font-size: 56px;
  font-family: "Barlow", sans-serif;
}

.score p {
  color: #2a46c0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: left;
  text-transform: uppercase;
}

.hands {
  max-width: 476px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 58px 0 0;
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.hands img {
  width: 100%;
}

.hands .hand {
  cursor: pointer;
  width: 40%;
}

.hands .hand:hover {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scissors {
  margin-left: 20px;
}

.paper {
  margin-right: 20px;
}

.contest {
  width: 90%;
  display: none;
  text-transform: uppercase;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.contest img {
  width: 75%;
}

.contest > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contest > div h1 {
  font-size: 3vw;
}

.contest h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.contest .hand-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contest .referee {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.contest .referee h1 {
  font-size: 4vw;
}

.contest .referee .newGame {
  background-color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  color: #3b4363;
  font-weight: 800;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  font-size: 3vw;
}

.contest .referee .newGame:hover {
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}

.rules-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px;
}

.rules-box button {
  width: 150px;
  height: 48px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #ffffffb3;
  outline: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 25rem;
  height: 27rem;
  background: white;
  left: 50%;
  border-radius: 15px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 1001;
  display: none;
  padding: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal h1 {
  text-transform: uppercase;
  font-size: 40px;
  width: 100%;
}

.modal .rules-img {
  width: 90%;
}

.modal .close-btn {
  position: fixed;
  top: 54px;
  right: 40px;
  cursor: pointer;
}

.overlay {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  -webkit-animation: fadeIn 0.4s ease-out forwards;
          animation: fadeIn 0.4s ease-out forwards;
  display: none;
}

.computer-hand img {
  -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.computer-hand h1 {
  -webkit-animation: vibrate-1 0.3s ease-out 5 both;
  animation: vibrate-1 0.3s ease-out 5 both;
}

@media only screen and (max-width: 375px) {
  .score-board {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 20px;
  }
  .score-board .score {
    width: 100px;
    height: 100%;
    padding: 10px;
  }
  .score-board .score p {
    font-size: 10px;
  }
  .score-board .score h1 {
    font-size: 42px;
  }
  .score-board .title img {
    width: 60%;
  }
  .referee {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 60%;
  }
  .referee .newGame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 19px;
  }
  .referee .decision h1 {
    font-size: 40px;
  }
  .contest {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contest div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .rules-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border-radius: 0;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal h1 {
    width: auto;
  }
  .modal .rules-img {
    margin: 8rem 0 0;
  }
  .modal .close-btn {
    top: 35rem;
    left: 47%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
/*# sourceMappingURL=style.css.map */